:root {
  /* Fill Colors */
  --fill-color-1: #111111;
  --fill-color-2: #42C1F4;
  --fill-color-3: #464C53;
  --fill-color-4: #4A5056;
  --fill-color-5: #4A5057;
  --fill-color-6: #4B5157;
  --fill-color-7: #62ACDA;
  --fill-color-8: #636363;
  --fill-color-9: #63C093;
  --fill-color-10: #64D3FF;
  --fill-color-11: #6BADDC;
  --fill-color-12: #75788B;
  --fill-color-13: #7B8190;
  --fill-color-14: #7C818F;
  --fill-color-15: #7CD194;
  --fill-color-16: #8BC5A3;
  --fill-color-17: #AFB5BC;
  --fill-color-18: #C1D5E9;
  --fill-color-19: #D1DCF8;
  --fill-color-20: #D2E6F3;
  --fill-color-21: #D6D6D6;
  --fill-color-22: #DBEBF5;
  --fill-color-23: #E4ECF9;
  --fill-color-24: #EBF5FF;
  --fill-color-25: #ECECF1;
  --fill-color-26: #EFEFEF;
  --fill-color-27: #EFF8FD;
  --fill-color-28: #F0A667;
  --fill-color-29: #F4F8FB;
  --fill-color-30: #F7FAFF;
  --fill-color-31: #FE4C40;
  --fill-color-32: #FFCF3D;
  --fill-color-33: black;
  --fill-color-34: none;
  --fill-color-35: white;
  /* Stroke Colors */
  --stroke-color-1: #4A5056;
  --stroke-color-2: #6BADDC;
  --stroke-color-3: #75788B;
  --stroke-color-4: #7C818F;
  --stroke-color-5: #AFB5BC;
  --stroke-color-6: #B4B4B4;
  --stroke-color-7: #CBE2F2;
  --stroke-color-8: #CFD4D9;
  --stroke-color-9: #D2E6F3;
  --stroke-color-10: #D4D4D4;
  --stroke-color-11: #DBEBF5;
  --stroke-color-12: #F2F2F2;
  --stroke-color-13: #F4F8FB;
  --stroke-color-14: black;
  --stroke-color-15: white;
  /* Common Widths (top 30) */
  --width-1: 0px;
  --width-2: 1px;
  --width-3: 2px;
  --width-4: 3px;
  --width-5: 5px;
  --width-6: 7px;
  --width-7: 13px;
  --width-8: 15px;
  --width-9: 16px;
  --width-10: 17px;
  --width-11: 22px;
  --width-12: 23px;
  --width-13: 24px;
  --width-14: 25px;
  --width-15: 26px;
  --width-16: 27px;
  --width-17: 29px;
  --width-18: 30px;
  --width-19: 31px;
  --width-20: 32px;
  --width-21: 34px;
  --width-22: 37px;
  --width-23: 38px;
  --width-24: 39px;
  --width-25: 41px;
  --width-26: 45px;
  --width-27: 46px;
  --width-28: 50px;
  --width-29: 55px;
  --width-30: 58px;
  /* Common Heights (top 30) */
  --height-1: 1px;
  --height-2: 2px;
  --height-3: 3px;
  --height-4: 4px;
  --height-5: 13px;
  --height-6: 15px;
  --height-7: 19px;
  --height-8: 21px;
  --height-9: 22px;
  --height-10: 23px;
  --height-11: 25px;
  --height-12: 26px;
  --height-13: 27px;
  --height-14: 28px;
  --height-15: 29px;
  --height-16: 30px;
  --height-17: 31px;
  --height-18: 32px;
  --height-19: 34px;
  --height-20: 37px;
  --height-21: 38px;
  --height-22: 39px;
  --height-23: 41px;
  --height-24: 45px;
  --height-25: 46px;
  --height-26: 50px;
  --height-27: 54px;
  --height-28: 55px;
  --height-29: 58px;
  --height-30: 66px;
  /* Border Radius Values */
  --border-radius-1: 1px;
  --border-radius-2: 2px;
  --border-radius-3: 3px;
  --border-radius-4: 6px;
  --border-radius-5: 7px;
  --border-radius-6: 8px;
  --border-radius-7: 9px;
  --border-radius-8: 10px;
  --border-radius-9: 11px;
  --border-radius-10: 13px;
  --border-radius-11: 14px;
  --border-radius-12: 15px;
  --border-radius-13: 19px;
  --border-radius-14: 20px;
  --border-radius-15: 21px;
  --border-radius-16: 27px;
  --border-radius-17: 30px;
  --border-radius-18: 31px;
  --border-radius-19: 34px;
  --border-radius-20: 36px;
  --border-radius-21: 38px;
  --border-radius-22: 41px;
  --border-radius-23: 44px;
  --border-radius-24: 45px;
}
