* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(92.8deg, #F8FAFF 2.76%, #F3FBFF 94.98%);
  color: var(--fill-color-5, #4A5057);
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
